

#product-overview {
  background-image: url("./assets/freedom.jpg");
  padding: 10px;
  width: 100%;
  height: 528px;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton";
}

.plan {
  background-color: lightgreen;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__annotation {
    background: white;
    color: darkgreen;
    padding: 8px;
    box-shadow:  2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 3px;

}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.plan__features li {
    margin: 8px 0;;
}

.plan__price {
    color: rgb(134, 121, 121);

}

.plan__title {
    color: darkgreen;
    
}

.plan--highlighted{
    background: darkgreen;
    color: whitesmoke;
    box-shadow:  2px 2px 2px 2px rgb(0,0,0,0.5);
}

.plan--highlighted .plan__price  {
    color: rgb(78, 212, 78);
}

.plan--highlighted .plan__title {
    color: rgb(78, 212, 78);
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}


.button {
    background: darkgreen;
    color: white;
    font: inherit;
    border: 1.5px solid darkblue;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: darkgreen;
}

.button:focus {
    outline: none;
}

#key-features {
    background: red;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
   
}

.key-feature__image {
    background: rosybrown;
    width: 128px;
    border: 2px solid darkgray;
    border-radius: 50%;
    height: 128px;
    margin: auto;
}


